<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="autoscreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="autoscreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <autoscreen.Properties.Settings>
      <setting name="Interval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ImageFormatFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="ScreenshotsDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="SlideshowDelay" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CaptureLimit" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CaptureLimitCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TakeInitialScreenshotCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageResolutionRatio" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SlideSkipCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SlideSkip" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenOnScreenCaptureStopCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExitOnCloseWindowCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenOnApplicationStartupCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageFormatIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CaptureStartAtCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureStopAtCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureStartAtValue" serializeAs="String">
        <value>11/20/2013 08:00:00</value>
      </setting>
      <setting name="CaptureStopAtValue" serializeAs="String">
        <value>11/20/2013 17:00:00</value>
      </setting>
      <setting name="CaptureOnSaturdayCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureOnSundayCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureOnMondayCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureOnTuesdayCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureOnWednesdayCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureOnThursdayCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureOnFridayCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureOnTheseDaysCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScheduleImageFormat" serializeAs="String">
        <value>JPEG</value>
      </setting>
      <setting name="ScheduleOnAtStartupCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DemoModeCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSlideshowAfterScreenCaptureStopCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureStartOnScheduleCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseWindowOnStartCaptureCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Screen1X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen1Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen1Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen1Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen2X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen2Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen2Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen2Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen3X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen3Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen3Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen3Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen4X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen4Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen4Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Screen4Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editors" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;&lt;autoscreen&gt;&lt;editors&gt;&lt;editor&gt;&lt;name&gt;GIMP 2.8&lt;/name&gt;&lt;application&gt;C:\Program Files\GIMP 2\bin\gimp-2.8.exe&lt;/application&gt;&lt;arguments&gt;%screenshot%&lt;/arguments&gt;&lt;/editor&gt;&lt;editor&gt;&lt;name&gt;Microsoft Paint&lt;/name&gt;&lt;application&gt;C:\Windows\System32\mspaint.exe&lt;/application&gt;&lt;arguments&gt;%screenshot%&lt;/arguments&gt;&lt;/editor&gt;&lt;/editors&gt;&lt;/autoscreen&gt;</value>
      </setting>
      <setting name="ShowSystemTrayIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Passphrase" serializeAs="String">
        <value />
      </setting>
      <setting name="LockScreenCaptureSession" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Screen1Name" serializeAs="String">
        <value>Screen 1</value>
      </setting>
      <setting name="Screen2Name" serializeAs="String">
        <value>Screen 2</value>
      </setting>
      <setting name="Screen3Name" serializeAs="String">
        <value>Screen 3</value>
      </setting>
      <setting name="Screen4Name" serializeAs="String">
        <value>Screen 4</value>
      </setting>
      <setting name="Macro" serializeAs="String">
        <value />
      </setting>
      <setting name="Screenshots" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;&lt;autoscreen&gt;&lt;screenshots&gt;&lt;screenshot&gt;&lt;index&gt;&lt;/index&gt;&lt;date&gt;&lt;/date&gt;&lt;path&gt;&lt;/path&gt;&lt;screen&gt;&lt;/screen&gt;&lt;format&gt;&lt;/format&gt;&lt;filename&gt;&lt;/filename&gt;&lt;slidename&gt;&lt;/slidename&gt;&lt;/screenshot&gt;&lt;/screenshots&gt;&lt;/autoscreen&gt;</value>
      </setting>
      <setting name="Screen5Name" serializeAs="String">
        <value>Active Window</value>
      </setting>
      <setting name="JpegQualityLevel" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DaysOldWhenRemoveSlides" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CaptureScreen1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureScreen2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureScreen3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureScreen4" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptureActiveWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoReset" serializeAs="String">
        <value>True</value>
      </setting>
    </autoscreen.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <autoscreen.Properties.Settings>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>2.1.0</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Auto Screen Capture</value>
      </setting>
      <setting name="ApplicationAuthor" serializeAs="String">
        <value>Gavin Kendall</value>
      </setting>
    </autoscreen.Properties.Settings>
  </applicationSettings>
</configuration>