<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="autoscreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="autoscreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <autoscreen.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ImageFormatFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SlideshowDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CaptureLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CaptureLimitCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TakeInitialScreenshotCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageResolutionRatio" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SlideSkipCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlideSkip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenOnScreenCaptureStopCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitOnCloseWindowCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenOnApplicationStartupCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureStartAtCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureStopAtCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureStartAtValue" serializeAs="String">
                <value>11/20/2013 08:00:00</value>
            </setting>
            <setting name="CaptureStopAtValue" serializeAs="String">
                <value>11/20/2013 17:00:00</value>
            </setting>
            <setting name="CaptureOnSaturdayCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureOnSundayCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureOnMondayCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureOnTuesdayCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureOnWednesdayCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureOnThursdayCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureOnFridayCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureOnTheseDaysCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScheduleImageFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="KeyloggingEnabledCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyloggingFile" serializeAs="String">
                <value>keylog.txt</value>
            </setting>
            <setting name="ScheduleOnAtStartupCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DemoModeCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSlideshowAfterScreenCaptureStopCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureStartOnScheduleCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchScreenshotsOnStopScreenCaptureCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWindowOnStartCaptureCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </autoscreen.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <autoscreen.Properties.Settings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>2.0.5</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Auto Screen Capture</value>
            </setting>
            <setting name="ApplicationAuthor" serializeAs="String">
                <value>Gavin Kendall</value>
            </setting>
        </autoscreen.Properties.Settings>
    </applicationSettings>
</configuration>
